* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
}
.main {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.choice button {
    width: auto;
    font-size: 100px;
}

.score {
    border: 2px solid black;
    padding: 20px;
}


.lost {
    background-color: #ff8400;
    font-size: larger;
    font-weight: bold;
}

.won {
    background-color: #7bff00;
    font-size: larger;
    font-weight: bold;
}

.neutral {
    font-size: larger;
    font-weight: bold;

}

.wonChoice {
    background-color: rgb(187, 254, 216);
}

.lostChoice {
    background-color: rgb(252, 192, 192);
}

.tieChoice {
    background-color: rgb(181, 181, 247);
}